body {
    padding: 0px 5px;
    line-height: 10px;
    font-size: 18px;
}

p {
    font-size: 20px;
    line-height: 25px;
}

span:first-child {
    text-decoration: none;
    font-weight: bold;
}

span {
    text-decoration: underline;
}
